@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
}

.nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    background: white;
    position: fixed;
    top: 0;
    padding: 0 10%;
}

.nav__logo p{
    font-size: 34px;
    font-family: 'Lobster', cursive;
    color: #190e47;
    font-weight: bold;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__links--navigation{
    margin-right: 50px;
}

.nav__links--navigation a{
    padding: 20px;
}

.nav__links--navigation a:hover{
    color: #ef2670;
    border-top: 3px solid #190e47;
}

.font-formatting a{
    font-size: 18px;
    font-weight: 400;
    color: #190e47;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav_links--contact a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background: #190e47;
}

.nav_links--contact a:hover{
    background: #ef2670;
}

.headline{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
}

.headline__presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline__presentation h2{
    margin: 0;
    letter-spacing: 10px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #190f43;
}

.headline__presentation h1{
    margin: 0;
    color: #1a0e45;
    font-weight: 900;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.headline__presentation p{
    margin: 15px 0;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.presentation__hire{
    display: flex;
}

.presentation__hire a{
    padding: 20px;
    background: #ef2670;
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.presentation__hire a:hover{
    background: #190e47;
}

.services__container{
    margin-top: 10%;
}

.services__container h2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #190e47;
    font-size: 50px;
    margin-bottom: 60px;
}

.services{
    display: flex;
}

.card__formatting{
    width: 30%;
    margin: 1%;
    padding: 20px;
    border: 2px solid #ef2670;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card__hidden--formatting{
    display: none;
    padding: 20px;
}

.card__formatting:hover{
    background: #ef2670;
    color: white;
}

.card__formatting:hover img{
    display: none;
}

.card__formatting:hover .card-original{
    display: none;
}

.card__formatting:hover .card__hidden--formatting{
    display: block;
}

footer{
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background-image: linear-gradient(180deg, #180f4a, #090422, black);
    border-top: 5px solid #ef2670;
    display: flex;
    flex-direction: column;
}

.footer__logo{
    text-align: center;
    padding: 100px;
    color: white;
}

.logo__agencia{
    font-size: 34px;
    font-family: 'Lobster', cursive;
    color: white;
    font-weight: bold;
}

footer b{
    color: white;
    text-align: center;
}

.fixed__whats{
    position: fixed;
    bottom: 5px;
    right: 15px;
    width: 50px;
}